<% provide(:title, 'All quizzes') %>
<h1>All Quizzes</h1>

<%= will_paginate %>

<table class="table table-striped table-bordered table-hover" style="table-layout: fixed">
  <thead>
    <tr>
      <th>Quiz Name</th>
      <th>Play Quiz</th>
      <th>View Leaderboard</th>
      <% if current_user.admin? %>
          <th>Delete Quiz</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <%= render @quizzes %>
  </tbody>
</table>

<%= will_paginate %>

