<% provide(:title, "About") %>
<h1>About</h1>
<h2 style="font-size: 25px">
  This is QUIZUP - quizzing app with advanced features and quizzes. Just click on Lets play and dive into the world of amazing knowledge and quizzing.

</h2>