<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<h2 style="font-size: 25px">
  Contact Developer Kanay gupta on facebook for any queries
  For developers see the project on git fur contributions and further details
</h2>