<div class="center">
  <br><br><br><br>
  <br>
<footer class="footer">

  <nav>
    <table class="table table-striped table-bordered table-hover" width="100%">
    <thead>
    <tr>
      <td>QuizUp</td>
      <td><%= link_to "About",   about_path %></td>
      <td><%= link_to "Contact", contact_path %></td>
      <td><a href="http://www.timesofindia.indiatimes.com/">News</a></td>
    </tr>
    </thead>
    </table>
  </nav>
</footer>
</div>